@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rufina;
  color: #fff;
}

footer {
  background:#233000;
}

.container{
  max-width: 100%;
  background: #233000;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 30px 80px;
}

.header_logo {
  font-size: 32px;
  font-weight: bold;
}

.header_nav {
  justify-self: end;
  display: flex;
  gap: 40px;
}

.header_nav a {
  color: #fff;
  text-decoration: none;
}

.header_nav a:hover {
    color: aquamarine;
}


.main {
  padding: 80px;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.hero_text h1 {
  font-size: 64px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero_text p {
  max-width: 420px;
  margin-bottom: 40px;
}

.hero_spices {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  gap: 20px;
}

.hero_spices img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.hero_image img {
  width: 100%;
  max-width: 520px;
}

.content {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 60px;
}

.content_image img {
  width: 100%;
  max-width: 480px;
}

.content_text h2 {
  font-size: 40px;
  margin-bottom: 20px; 
}

.content_text p {
  max-width: 360px;
}

.content_side {
  grid-column: 2 / 3;
}

.content_side img {
  width: 100%;
  max-width: 320px;
}

.menu {
  max-width: 100%;
  background-color: #ffffff; 
  color: #000;
  padding: 120px 80px;
}

.menu_header {
  max-width: 500px;
  margin-bottom: 30px;
}

.menu img{
    max-width: 600px;
    position: absolute;
    right: 0;
}

.menu_header h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.menu_header p {
  font-size: 14px;
  color: #555;
}

.menu_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px 120px;
}

.menu_item h3 {
  font-size: 22px;
  margin: 15px 0;
}

.menu_item p {
  font-size: 14px;
  color: #666;
}

.menu_title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 20px;
}

.dots {
  border-bottom: 1px dotted #999;
  height: 1px;
}

.price {
  font-weight: bold;
}

.cook {
  background-color: #ebf0e4;
  color: #000;
  padding: 50px;
}

.cook_img{
  display: flex;
  justify-content: start;
}

.cook_img img{
  width: 600px;
}

.cook_text h1 {
  flex: 1;
  font-size: 4rem;
  text-align: center;
}

.cook_text p {
  font-size: 1.2rem;
}

.features {
  display: flex;
  justify-content: center;
  gap: 40px; 
  padding: 50px 20px;
  background-color: #ffffff;
}

.feature-card {
  flex: 1;
  max-width: 300px;
  text-align: center;
}

.icon-circle {
  width: 150px;
  height: 150px;
  background-color: #edf2e8; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px; 
}

.icon-circle img {
  width: 152px;
  height: auto;
}

.feature-card h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
  font-weight: bold;
}

.feature-card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  padding: 0 10px;
}

.posts {
  padding: 120px 80px;
  background-color: #fff;
}

.posts_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}

.post {
  display: grid;
  gap: 20px;
}

.post_image {
  position: relative;
}

.post_image img {
  width: 100%;
  display: block;
}

.post_tag {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #233000;
  color: #fff;
  padding: 8px 18px;
  font-size: 14px;
}

.post_meta {
  font-size: 14px;
  color: #777;
  display: flex;
  gap: 10px;
  align-items: center;
}

.post_title {
  font-size: 28px;
  line-height: 1.3;
  border-bottom: 1px dotted #999;
  padding-bottom: 20px;
}

.post_text {
  font-size: 16px;
  color: #666;
}

.post_link {
  font-size: 16px;
  color: #233000;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.post_link:hover {
  text-decoration: underline;
}

.calories {
  color: black;
  padding: 80px;
  text-align: center;
}

.calories h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.calories_img img{
  width: 400px;
}

.calories_img{
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer {
  color: #fff;
  padding: 100px 80px 40px;
}

.footer_top {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 80px;
  margin-bottom: 60px;
}

.footer_brand h2 {
  font-size: 48px;
  line-height: 1.1;
}

.footer_contact a {
  color: #fff;
  text-decoration: underline;
}

.footer_subscribe h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer_contact p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ddd;
}

.footer_form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  margin-bottom: 15px;
}

.footer_form input {
  background: transparent;
  border: 1px solid #fff;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
}

.footer_form input::placeholder {
  color: #ccc;
}

.footer_form button {
  background-color: #5b6e00;
  border: none;
  padding: 15px 30px;
  color: #fff;
  cursor: pointer;
}

.footer_small {
  font-size: 12px;
  color: #ccc;
}

.footer_bottom {
  border-top: 1px dashed #aaa;
  padding-top: 30px;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.footer_bottom p {
  font-size: 12px;
  color: #ccc;
}

.footer_socials {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer_socials a img{
  width: 20px;
  height: 20px;
  display: block;
  filter: brightness(0) invert(1);
  transition: opacity 0.3s;
}
